SPRING_PROFILES_ACTIVE=prod

DB_HOST=db
DB_PORT=5432
DB_NAME=tdebt
CURRENT_DB_SCHEMA=tdebtapp
DB_USERNAME=tdebt_user
DB_PASSWORD=tdebt_password

JWT_SECRET_KEY=VGhpcy1pcy1hLWRlbW8tand0LXNlY3JldC1mb3ItbG9jYWwtZG9ja2VyLW9ubHktMjAyNg==
JWT_EXPIRATION=3600000

ALLOWED_ORIGINS=http://localhost:8080

ADMIN_EMAIL=admin@tdebt.local
ADMIN_PASSWORD=Admin123!
